/* Main Container */
.ncert-container {
  width: 100%;
  min-height: 100vh;
  background-color:#e8f7fa;
  padding: 20px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


.ncert-top-divider {
  width: 100%;
  height: 3px;

  margin-bottom: 15px;
  border-radius: 2px;
}


.ncert-subheader {
 display: flex;
  justify-content: center;  
  align-items: center;
  gap: 30px;
  /* border-bottom: 2px solid #e5e7eb; */
  margin-bottom: 20px;
}


.ncert-sub-item {
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  color: #374151;
  position: relative;
  transition: all 0.3s ease;
}

/* Hover Effect */
.ncert-sub-item:hover {
  background-color: rgba(0, 128, 0, 0.1);
  color: #1b4332;
}

/* Active Tab */
/* Active Tab Style */
.ncert-active-tab {
  background-color: #1579b3;
  border-radius: 18px;
  color: white;
  font-weight: 600;
}

/* Active Underline */
.ncert-sub-item.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 3px;
  background-color: #1d505f;;
  border-radius: 3px;
}

/* Responsive */
@media (max-width: 600px) {
  .ncert-subheader {
    gap: 10px;
  }

  .ncert-sub-item {
    padding: 8px 12px;
    font-size: 14px;
  }
}
